opencv-python
numpy
matplotlib
einops
pyyaml
scipy
torchvision
torchaudio
tqdm
lpips
nvitop
ipykernel
pyvim
pre-commit
datasets
transformers
tiktoken
wandb
icecream
torchmetrics
decord
moviepy
imageio
imageio-ffmpeg
kornia
roma
mediapipe
scenedetect
youtube_dl
ffmpeg-python
kornia
roma
accelerate
torch-fidelity
